﻿


@model LinkConsultancyAscott.WebCore.Models.PartitionLabelViewModel
@{
   // Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "TLC - Partition Label";
}

@using (Html.BeginForm("PartitionLabelView", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
  
    <h1 class="h3 mb-3 font-weight-normal">TLC Portal</h1>
    <img class="mb-4" src="~/Content/Images/LinkLogo.png" alt="" width="72" height="72">
    <h2 class="h3 mb-3 font-weight-normal">Partition Label </h2>
    <hr />


    @Html.LabelFor(m => m.PartitionLabel, new { @class = "sr-only" })
    @Html.TextBoxFor(m => m.PartitionLabel, new { @class = "form-control", placeholder = "USer Name" })
    @Html.ValidationMessageFor(m => m.PartitionLabel, "", new { @class = "text-danger" })

    @Html.LabelFor(m => m.IstraIp, new { @class = "sr-only" })
    @Html.PasswordFor(m => m.IstraIp, new { @class = "form-control", placeholder = "Password" })
    @Html.ValidationMessageFor(m => m.IstraIp, "", new { @class = "text-danger" })


    <input class="btn btn-lg btn-primary btn-block" type="submit" value="PartionLabel" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
