﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { @area=""}, FormMethod.Post, new { id = "logoutForm", @class = "form-inline mt-4 mt-md-0" }))
    {
        @Html.AntiForgeryToken()
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues:  new { area=""}, htmlAttributes: new { title = "Manage", @class="navbar-brand mr-sm-2", @style="padding-top: .35em;" })
        <a href="javascript:document.getElementById('logoutForm').submit()" title = "Logout" class="btn btn-outline-success my-2 my-sm-0" }><i class="far fa-sign-out"></i> Log off</a>
    }
}
