﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
        function DestroySecurityACL() {
            if (!ValidateForm()) {
                return;
            }
            var nodeId = $("#nodes").data("kendoDropDownList").value();
            var deleteByIdValues = $('#deleteById').val();
            var aclIds = deleteByIdValues.split(',');
            $('#ajaxBusy').show();
            $.ajax({
                type: "POST",
                url: "/Acl/DestroySecurityACL",
                data: JSON.stringify({ nodeId: nodeId, securityAclIds: aclIds }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('#ajaxBusy').hide();
                    $("#deleteById").val(null);
                    alert(response);
                },
                failure: function (response) {
                    DestroySecurityACL();
                },
                error: function (response) {
                    DestroySecurityACL();
                }
            });
        }

        $(function () {
            $("#btnDeleteAllSecurityACL").click(function () {
                if (confirm("Are you sure you want to delete?")) {
                    DestroySecurityACL();
                }
            });
        });

        function SetRadioButtonValue(checked) {
            if (checked == true) {
                $("#deleteById").hide();
                $("#lbDeleteById").hide();
                $("#deleteById").val(null);
                HideValidationMessage();
            }
            else {
                $("#deleteById").show();
                $("#lbDeleteById").show();
            }
        }

        function ValidateForm() {
            HideValidationMessage();
            var cbDeleteAll = $("#deleteAll")[0].checked;
            var inDeleteById = $("#deleteById").val();
            if (cbDeleteAll == false && inDeleteById == "") {
                $("#validationMessage").show();
                return false;
            }
            else {
                return true;
            }
        }

        function HideValidationMessage() {
            $("#validationMessage").hide();
        }
    </script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/kendo/2018.1.117/kendo.all.min.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-8">
                <label>
                    <i>Select Node:</i>
                </label>
                <div>
                    @(Html.Kendo().DropDownListFor(m => m)
                    .Name("nodes")
                    .HtmlAttributes(new { style = "width: 100%;" })
                    .DataTextField("name")
                    .DataValueField("id")
                    .DataSource(source => source
                    .Read(r => r.Action("GetAllNodesForDropdownList", "Acl"))
                    ))
                </div>
            </div>
            <br />
            <div class="col-md-8">
                <input type="checkbox" id="deleteAll" onchange="SetRadioButtonValue(event.target.checked)" />Destroy Everything!!
            </div>
            <br />
            <div class="col-md-8">
                <label id="lbDeleteById">
                    <i>Enter ACL Ids separated by commas to delete:</i>
                </label>
                <div>
                    <input type="text" class="form-control" id="deleteById" onkeyup="HideValidationMessage()" />
                </div>
            </div>
            <br />
            <div class="col-md-6">
                <input type="button" id="btnDeleteAllSecurityACL" value="Delete Security ACL" class="btn" />
            </div>
            <div class="col-md-6">
                <div>
                    <h4 id="ajaxBusy" style="color: green; display: none">Processing...</h4>
                    <h4 style="color: red; display: none" id="validationMessage">Please enter ACL Id or check delete all!</h4>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
