﻿@using Kendo.Mvc.UI

@using LinkConsultancyAscott.Service.Extensions
@model PartitionLabelViewModel

@{
    ViewBag.Title = "TLC - Partition Label";
}

@section styles
{
}

@section scripts
{

}

<h4><i class="far fa-history fa-fw"></i> Partition Label</h4>
<hr />
@(Html.Kendo().Grid<PartitionLabelViewModel>().Name("PartitionLabelListGrid").ToolBar(toolbar =>
    {
        toolbar.Create();
//toolbar
//    .Custom().Text("<i class='far fa-upload fa-fw'></i>  Upload IP Addresses")
//    .HtmlAttributes(new { id = "AclListGridUploadCommand" });
})
    .DataSource(dataBinding => dataBinding.Ajax()

    .Model(model =>
    {
        model.Id(p => p.PartitionId);
        model.Field(c => c.PartitionLabelId);
        model.Field(c => c.PartitionLabels);
        model.Field(c => c.IstraIp);
        model.Field(c => c.DirectoryPath);
    })
    .Read("ReadPartitionLabelList", "Acl", new { area = "AccessManagement" })
    .Create("CreatePartionLabel", "Acl", new { area = "AccessManagement" })
    .Update("UpdatePartionLabel", "Acl", new { area = "AccessManagement" })
    .Destroy(update => update.Action("DestroyPartitionMapping", "Acl", new { area = "AccessManagement" }))

    .PageSize(50)
    .Sort(sort => sort.Add(add => add.PartitionLabels).Ascending()))
    .Columns(columns =>
    {
        columns.Bound(o => o.PartitionId).Title("Partition Id").Hidden(true);
        columns.Bound(o => o.PartitionLabelId).Title("Partition Label Id");
        columns.Bound(o => o.PartitionLabels).Title("Partition Label");
        columns.Bound(o => o.IstraIp).Title("Istra IP");
        columns.Bound(o => o.DirectoryPath).Title("Directory Path");
        columns.Command(command =>
        {
            command.Edit().Text(" ").HtmlAttributes(new { title = "Update" });
            command.Destroy().Text(" ").HtmlAttributes(new { title = "Delete" });
        });
    })

    .Filterable()
    .ColumnMenu()
    .Scrollable(s => s.Enabled(true)
    .Height(500))
    .Reorderable(reorderable => reorderable.Columns(true))
    .Pageable(pageable => pageable.Refresh(true)
    .PageSizes(new[] { 10, 20, 50, 100, 250 })).Sortable()
)

