﻿@using Kendo.Mvc.UI
@using LinkConsultancyAscott.Service.ViewModels.Cataleya
@model CataleyaAclHistoryViewModel

@{
    ViewBag.Title = "TLC Portal - Cataleya Security Access Control List";
}

@section styles
    {
}

@section scripts
    {

}
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#deleteByBatchNo").hide();
        })

        function GetSelectedBatchNo() {
            var filterValue = $("#CataleyaAclHistoryGrid").data('kendoGrid').dataSource.filter();
            return filterValue ? filterValue.filters[0].value : 0;
        }

        function CheckIfBatchIsFiltered() {
            var batchNo = GetSelectedBatchNo();
            batchNo > 0 ? $("#deleteByBatchNo").show() : $("#deleteByBatchNo").hide();
        }

        function DeleteByBatchNo() {
            if (confirm("Are you sure you want to delete the selected batch?")) {
                kendo.ui.progress($("#CataleyaAclHistoryGrid"), true);
                var batchNo = GetSelectedBatchNo();
                $('#ajaxBusy').show();
                $.ajax({
                    type: "POST",
                    url: "/Acl/DestroySecurityACLByBatchNo",
                    data: JSON.stringify({ batchNo: batchNo }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        kendo.ui.progress($("#CataleyaAclHistoryGrid"), false);
                        alert(response);
                    },
                    failure: function (response) {
                        DeleteByBatchNo();
                    },
                    error: function (response) {
                        DeleteByBatchNo();
                    }
                });
            }
        }
    </script>
</head>
<body>
    <div id="deleteByBatchNo">
        @(Html.Kendo().Button()
                .Name("btnDeleteAll")
                .Content("Delete Batch")
                .HtmlAttributes(new { type = "button" })
                .Events(ev => ev.Click("DeleteByBatchNo")))
    </div>
    <h4><i class="far fa-cloud fa-fw"></i> ACL - Delete Cataleya Security Access Control List</h4>
    <hr />
    @(Html.Kendo().Grid<CataleyaAclHistoryViewModel>()
                .Name("CataleyaAclHistoryGrid")
                .DataSource(dataBinding => dataBinding.Ajax()
                .Events(events => events
                .Error("Errors.manager.dataSourceErrorHandler")
                .RequestEnd("Administration.administrationApplication.onRequestEndRefreshGrid")
                .RequestEnd("CheckIfBatchIsFiltered"))
                .Model(model =>
                {
                    model.Id(p => p.Id);
                })
                .Read("ReadCataleyaAclHistoryList", "Acl", new { area = "AccessManagement" })
                .PageSize(50)
                .Sort(sort => sort.Add(add => add.BatchNo).Descending()))
                .Columns(columns =>
                {
                    columns.Bound(o => o.Id).Title("Id").Hidden(true);
                    columns.Bound(o => o.BatchNo).Width(100).Title("Batch #");
                    columns.Bound(o => o.CurrentDate).Width(120).Title("Created At").Format("{0:dd/MM/yyyy HH:mm}");
                    columns.Bound(o => o.Action).Width(70).Title("Action");
                    columns.Bound(o => o.AppType).Width(70).Title("AppType");
                    columns.Bound(o => o.NodeName).Width(90).Title("Node");
                    columns.Bound(o => o.SipInterfaceIpAddress).Title("Sip Interface IP Address");
                    columns.Bound(o => o.LocalPort).Title("Port");
                    columns.Bound(o => o.RemoteIpAddress).Title("Remote IP Address");
                    columns.Bound(o => o.RemotePrefix).Title("Remote Prefix");
                    columns.Bound(o => o.isDeleted).Title("Deleted");
                })
                .Filterable()
                .ColumnMenu()
                .Pageable(pageable => pageable.Refresh(true).PageSizes(new[] { 10, 20, 50, 100, 250 }))
                .Sortable().Scrollable(s => s.Enabled(true).Height(350))
    )
</body>
