@using System.Web.Mvc.Html
@using Kendo.Mvc.UI
@model UploadIpAddressFileViewModel

<div id="uploadIpAddressFileWrapper" class="container-fluid">

    <div class="form-group">
        @Html.LabelFor(m => m.ListType)
        @Html.EditorFor(m => m.ListType)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ListTypeName)
        @Html.EditorFor(m => m.ListTypeName)
    </div>

    <div class="form-group">
        <label for="IpAddressFiles">Documents:</label>

        @(Html.Kendo().Upload().Name("IpAddressFiles")
            .Multiple(false)
            .Async(async => async.AutoUpload(false)
            .Save("SaveIpAddressFile", "Acl", new {area = "AccessManagement"})
            .Remove("RemoveIpAddressFile", "Acl", new {area = "AccessManagement"}))
            .Events(events => 
            events
                .Select("LinkConsultancyAscott.application.onIpAddressFileSelect")
                .Upload("LinkConsultancyAscott.application.onIpAddressFileUpload")
                .Cancel("LinkConsultancyAscott.application.onIpAddressFileCancel")
                .Clear("LinkConsultancyAscott.application.onIpAddressFileClear")
                .Complete("LinkConsultancyAscott.application.onIpAddressFileComplete")
                .Error("LinkConsultancyAscott.application.onIpAddressFileError")
                .Progress("LinkConsultancyAscott.application.onIpAddressFileProgress")
                .Remove("LinkConsultancyAscott.application.onIpAddressFileRemove")
                .Success("LinkConsultancyAscott.application.onIpAddressFileSuccess")
            ))
    </div>

</div>

