@using LinkConsultancyAscott.Service.Models
@model dynamic
     @(Html.Kendo().Grid<UserViewModel>()
        .Name("UserGrid")
        .DataSource(dataBinding => dataBinding.Ajax()
                              .Events(events => events.Error("error_handler")
                                      .RequestEnd("onRequestEndRefreshGrid"))
                                      .Model(model =>
                                      {
                                          model.Id(p => p.UserId);
                                          model.Field(c => c.UserId).DefaultValue(string.Empty).Editable(false);
                                          model.Field(c => c.UserRoles).DefaultValue(new List<UserRoleViewModel>()).Editable(true);
                                          model.Field(c => c.SipInterfaces).DefaultValue(new List<FilterListViewModel>()).Editable(true);
                                          model.Field(c => c.MediaInterfaces).DefaultValue(new List<FilterListViewModel>
    ()).Editable(false);
    model.Field(c => c.LastActivityDate).DefaultValue(DateTime.Now).Editable(false);
    })
    .Read("Read", "AdministrationUser", new { area = "Administration" })
    .Create("Create", "AdministrationUser", new { area = "Administration" })
    .Update("Update", "AdministrationUser", new { area = "Administration" })
    .Destroy(update => update.Action("Destroy", "AdministrationUser", new { area = "Administration" })
    )
    .PageSize(50)
    .Sort(sort => sort.Add(add => add.UserName).Ascending()))
    .Columns(columns =>
    {

    columns.Bound(o => o.UserName).Title("User Name");
    columns.Bound(o => o.LastActivityDate).Title("Last Activity Date").Format("{0:dd/MM/yyyy HH:mm}");
    columns.Bound(e => e.UserRoles).Title("User Roles").ClientTemplate("#=userRolesTemplate(UserRoles)#").Filterable(false);
    columns.Bound(e => e.SipInterfaces).Title("SIP Interfaces").ClientTemplate("#=userInterfacesTemplate(SipInterfaces)#").Filterable(false);
    columns.Bound(e => e.MediaInterfaces).Title("Media Interfaces").ClientTemplate("#=userInterfacesTemplate(MediaInterfaces)#").Visible(false).Hidden(true).Filterable(false);
    columns.Bound(o => o.UserId).Title("Web Token").Hidden(false);
    columns.Command(commands => {
    commands.Edit();
    if (User.IsInRole(ApplicationRoles.Developers))
    {
    commands.Destroy();
    }
    }).Title("Edit");
    })
    .Editable(editing => editing.Mode(GridEditMode.InLine))
    .Filterable()
    .ColumnMenu()
    .Scrollable(s => s.Enabled(true))
    .Pageable(pageable => pageable.Refresh(true).PageSizes(true).PageSizes(new[] { 50, 100, 250, 500 }))
    .Sortable()
    .ClientDetailTemplateId("userDetailTemplate")
    )


    <script id="userDetailTemplate" type="text/kendo-tmpl">
    @(Html.Kendo().TabStrip().Name("TabStrip_#=UserId#")
    .SelectedIndex(0).Items(items =>
    {
        items.Add().Text("Claims").LoadContentFrom(
            "ClaimsList",
            "AdministrationUser",
            new { Area = "Administration", userId = "#=UserId#" });

    }).ToClientTemplate())
    </script>


    <script type="text/kendo" id="rolesTemplate">
        <ul>
            #for(var i = 0; i< data.length; i++){#
            <li>#:data[i].Name#</li>
            #}#
        </ul>
    </script>

    <script type="text/kendo" id="interfacesTemplate">
        <ul>
            #for(var i = 0; i< data.length; i++){#
            <li>#:data[i].Name#</li>
            #}#
        </ul>
    </script>

    <script type="text/javascript">
        var userRolesTemplate = kendo.template($("#rolesTemplate").html(), { useWithBlock: false });
        var userInterfacesTemplate = kendo.template($("#interfacesTemplate").html(), { useWithBlock: false });
    </script>
