@model string

@(Html.Kendo().DropDownListFor(m => m)
                                  .OptionLabel("Select an option...")
                                  .DataTextField("Name")
                                  .DataValueField("Id")
                                  .HtmlAttributes(new { style = "width:100%" })
                                  .Filter("contains")
                                  .Template("<span class=\"risk-selected-value\" style=\"background-image: url("
                                                + Url.Content("~/Content/Images/") +
                                                "#:data.ImageFile#" + ");\" ></span>" +
                                                "<span>#:data.Name#</span>")
                                 .ValueTemplate("<span class=\"risk-selected-value\" style=\"background-image: url("
                                                + Url.Content("~/Content/Images/") +
                                                "#:data.ImageFile#" + ");\" ></span>" +
                                                "<span>#:data.Name#</span>")
                                   .DataSource(source =>
                                   {
                                       source.Custom()
                                       .ServerFiltering(true)
                                       .Type("aspnetmvc-ajax")
                                       .Transport(transport =>
                                       {
                                           transport.Read("GetYesNo", "StaticData", new { area = string.Empty });
                                       })
                                       .Schema(schema =>
                                       {
                                           schema.Data("Data")
                                           .Total("Total");
                                       });
                                   }))